<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="devsupport.ai.flowpeach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.oppwa.mobile.connect.service.ConnectService"
            android:exported="false" />

        <activity android:name="peachpay.PeachPay" />

        <receiver
            android:name="peachpay.CheckoutBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.oppwa.mobile.connect.checkout.ACTION_PAYMENT_METHOD_SELECTED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="server.url.peachpay"
            android:value="https://powerful-temple-10534.herokuapp.com/peachandroid/new_transaction.php" />

        <activity
            android:name=".PeachCallback"
            android:label="@string/title_activity_peach_callback"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <data android:scheme="devsupport"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

        </activity>
    </application>

</manifest>